body {
    background-color: #22272F;
}

th, td {
    border: 1px solid white;
}

/* Έτσι ώστε να μην αφήνει κενό κάτω από την εικόνα */
img {
	display: block;
	width: 100%;
	
}

table {
    height: 500px;
    width: 500px;
}

.pinakas {
    color: white;
	margin: 0 auto;
}

.miniPinakas {
    margin-left:auto;
    margin-right:auto;
    width: 60px;
    height: 20px;
	position: relative;
}

.red {
    background-color: #FD0100;
    height: 100px;
    width: 100px;
}

.green {
    background-color: #008001;
    height: 100px;
    width: 300px;
}

.black {
    background-color: #000000;
    width: 135px;
}

.white {
    background-color: #FFFFFF;
    color: black;
    height: 200px;
    width: 100px;
}

.orange {
    background-color: #FEA500;
    height: 100px;
    width: 300px;
}

.purple {
    background-color: #81007F;
    height: 200px;
    width: 300px;
}

.grey {
    background-color: #808080;
    color: black;
}

.yellow {
    background-color: #FFFF00;
    color: black;
    height: 100px;
    width: 300px;
}

.pink {
    background-color: #FFBFCD;
    color: black;
    height: 200px;
    width: 100px;
}
.mikroP {
	z-index: 2;
}
